<!DOCTYPE html>
<html><head><title>Створити подію</title></head><body>
<a th:href="@{/events}">Назад до списку</a>
<h1>Створити подію</h1>

<form th:action="@{/events/create}" th:object="${eventDto}" method="post">
    Назва: <input type="text" th:field="*{name}"/><br>
    Дата: <input type="date" th:field="*{eventDate}"/><br>
    Назва місця: <input type="text" th:field="*{place.name}"/><br>
    Адреса: <input type="text" th:field="*{place.address}"/><br>

    <h3>Квитки</h3>

    <input name="tickets[0].cost" placeholder="Ціна">
    <input name="tickets[0].count" placeholder="Кількість">
    <br>
    <button type="submit">Створити</button>
</form>
</body>
</html>