<!DOCTYPE html>
<html><head><title>Подія</title></head><body>
<a th:href="@{/}">Головне меню</a>
<h1>Події</h1>

<!-- Пошук за назвою -->
<form th:action="@{/events/search}" method="get">
    <input name="eventName" placeholder="Назва події"/>
    <button type="submit">Пошук</button>
</form>

<!-- Пошук майбутніх подій -->
<form th:action="@{/events/upcoming}" method="get">
    <button type="submit">Показати майбутні події</button>
</form>

<table border="1">
    <tr>
        <th>Назва події</th>
        <th>Дата</th>
        <th>Місце</th>
        <th>Дії</th>
    </tr>
    <tr th:each="event : ${events}">
        <td th:text="${event.name}"></td>
        <td th:text="${event.eventDate}"></td>
        <td th:text="${event.place.name}"></td>
        <td>
            <a th:href="@{|/events/${event.id}|}">Деталі</a>
        </td>
    </tr>
</table>
<br>
<a th:href="@{/events/create}">Створити нову подію</a>
</body>
</html>