<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head><title>Подія</title></head><body>
<a th:href="@{/}">Головне меню</a>
<div sec:authorize="isAuthenticated()">
    <hr>
    Користувач: <b th:text="${#authentication.name}"></b> |
    <form th:action="@{/logout}" method="post" style="display:inline;">
        <button type="submit">Вийти</button>
    </form>
    <hr>
</div>

<h1>Події</h1>

<!-- Пошук за назвою -->
<form th:action="@{/events/search}" method="get">
    <input name="eventName" placeholder="Назва події"/>
    <button type="submit">Пошук</button>
</form>
<br>

<!-- Пошук майбутніх подій -->
<form th:action="@{/events/upcoming}" method="get">
    <button type="submit">Показати майбутні події</button>
</form>
<br>

<table border="1">
    <tr>
        <th>Назва події</th>
        <th>Дата</th>
        <th>Місце</th>
        <th>Дії</th>
    </tr>
    <tr th:each="event : ${events}">
        <td th:text="${event.name}"></td>
        <td th:text="${event.eventDate}"></td>
        <td th:text="${event.place.name}"></td>
        <td>
            <a th:href="@{|/events/${event.id}|}">Деталі</a>
        </td>
    </tr>
</table>
<br>
<a sec:authorize="hasRole('ADMIN')" th:href="@{/events/create}">Створити нову подію</a>
</body>
</html>