<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head><title>Подія</title></head>
<body>
<a th:href="@{/events}">Назад до списку</a>

<div sec:authorize="isAuthenticated()">
    Ви увійшли як <b th:text="${#authentication.name}"></b>
</div>

<div sec:authorize="isAnonymous()">
    <p style="color:red;">
        Для купівлі квитка потрібно
        <a th:href="@{/login}">увійти</a>
    </p>
</div>

<h1 th:text="${event.name}">Подія</h1>

<p>Дата: <span th:text="${event.eventDate}"></span></p>
<p>Місце: <span th:text="${event.place.name}"></span></p>

<h2>Вільні квитки</h2>

<div sec:authorize="isAuthenticated()">
    <form th:action="@{/tickets/buy}" method="post">
        <select name="ticketId">
            <option th:each="ticket : ${freeTickets}"
                    th:value="${ticket.id}"
                    th:text="${ticket.seatNumber} + ' — ' + ${ticket.cost}"></option>
        </select>

        <!--    Id покупця:<input type="number" name="customerId" required/><br>-->
        <div sec:authorize="hasRole('USER')">
            <button type="submit">Купити</button>
        </div>
    </form>
</div>

<h3>Всі квитки</h3>
<table border="1">
    <tr>
        <th>Номер місця</th>
        <th>Ціна</th>
        <th>Статус</th>
        <th>Покупець</th>
    </tr>
    <tr th:each="ticket : ${event.tickets}">
        <td th:text="${ticket.seatNumber}"></td>
        <td th:text="${ticket.cost}"></td>
        <td th:text="${ticket.status}"></td>
        <td th:text="${ticket.customer != null ? ticket.customer.name : ''}"></td>
    </tr>
</table>
</body>
</html>